*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
}


::selection{
    background-color: #ffffff;
    color: #222222;
}

body{
    margin: 0;
    background-color: #000;
    color: #ffffff;
}

/* Ajustes para scroll */
body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: #00ffb3;
    border-radius: 10rem;
}


body h1{
    /* Titulo */
    font-size: 50px;
}

body h2{
    /* Subtitulos 1 */
    font-size: 35px;
}

body h3{
    /* Subtitulo 2 */
    font-size: 25px;
}

body p{
    /* Parrafos */
    font-size: 20px;
}
header{
    padding: 2%;
    margin: 0% 0%;
    width: 100%;
    height: 155px;
    border-bottom: #fff;
    border-radius: 1.5rem;
    background-color: #000000a6;
    position: fixed;
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

header h1{
    color: #fff;
    border-bottom: 2px solid #0effff;
    margin: 0.5% 0px 5% 80px;
    transition: 0.5s;
    float: left;

}

header h1 a{
    text-decoration: none;
    color: #fff;
}

header h1:hover{
    border-bottom: 2px solid #0effff;

}


header .NA{
    color: #0effff;
}

header .ND{
    color: #00ffb3;
    
}



nav{
    text-align: right;
    margin-top: 2%;
}

nav a{
    text-decoration: none;
    padding: 8px 15px 2px 15px;
    color: #00ffb3;
    font-size: 18px;
    margin-left: 25px;
    border-bottom: 2px solid #00000000;
}

nav a:hover{
    color: #ffffff;
}

nav .linea1-activa{
    border-bottom: 2px solid #00ffb3;
}

nav .linea2-activa{
    border-bottom: 2px solid #0effff;
}

nav .linea1:hover{
    border-bottom: 2px solid #00ffb3;
}

nav .linea2:hover{
    border-bottom: 2px solid #0effff;
}

.portada{
    height: 40vh;
    width: 95%;
    margin: 155px 2.5% 0% 2.5%;
    padding: 5%;
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00ffb3b7, #0effffb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00ffb3b7, #0effffb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background-image: url(img/hongo.jpg);
    background-position: center;
    background-size: 100%; */
    color: #fff;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    border: none;
}

.portada h1{
    text-align: center;
    font-size: 5rem;
}

.portada h2{
    text-align: center;
    font-size: 2.5rem;
}


article{
    border: 1.5px solid #fff;
    border-radius: 1.5rem;
    margin: 30px 20%;
    height: 300px;
    color: #fff;
}

article a{
    text-decoration: 1px #0effff;
    color: #fff;
}

article .seccion-info{
    height: 100%;
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
}

article .text{
    margin: 0px 0px;
    padding: 5%;
}


article img{
    width: 450px;
    height: 100%;
    float: left;
    border-radius: 1.5rem;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
}


footer{
    background-color: #000;
    width: 100%;
    margin-top: 2.5%;
    border-top: 3px solid #fff;
}

footer p{
    text-align: center;
}

footer .information{
    width: 25%;
    float: left;
    padding: 10px;
}

footer .line-ri {
    border-right: 2px solid #ffffff;
}


@media (min-width: 319px) and (max-width: 425px) {
    body h1, p{
        font-size: 18px;
    }
}
